[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "isotracer"]
	path = isotracer
	url = https://gitlab.com/matthieu-bruneaux/isotracer
